/* 배너 컨테이너 */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #232222;
    width: 100%;
    max-width: 380px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-left: 10px; /* 왼쪽 여백 */
    margin-bottom: 10px;
}

/* 배너 hover 효과 */
.banner-container:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* 텍스트 섹션 */
.text-section {
    flex: 1;
}

/* 제목 스타일 */
.banner-title {
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1); /* 더 부드러운 그림자 */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 설명 스타일 */
.banner-description {
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1); /* 더 부드러운 그림자 */
    font-size: 14px;
    line-height: 1.5;
}

/* 이미지 섹션 */
.image-section {
    flex-shrink: 0;
    margin-left: 20px;
}

/* 이미지 스타일 */
.banner-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease; /* 이미지 확대 효과 */
}

/* 이미지 hover 효과 */
.banner-container:hover .banner-image {
    transform: scale(1.2);
}
