@font-face {
    font-family: "DNFBlade";
    src: url("../fonts/DNFBladeMedium.ttf");
}
.footer {

    background-color: #000000; /* 배경색 */
    color: white;            /* 글자 색 */
    padding: 20px 0;         /* 상하 패딩 */
    text-align: left;        /* 모든 텍스트 왼쪽 정렬 */
}

.footer-content {
    max-width: 1200px;       /* 최대 너비 */
    margin: 0 auto;          /* 중앙 정렬 (내용을 가운데 정렬) */
    padding: 0 20px;         /* 좌우 패딩 */
}

.footer-logo {
    font-family: DNFBlade;
    font-size: 22px;
    margin-bottom: 10px;

}
.footer-logo h2
{
    color: white;
    text-align: left;
}

.footer-links {
    font-size: 14px;
    margin: 10px 0;
}

.footer-links a {
    margin-right: 15px;      /* 각 링크 사이 여백 */
    color: #bbb;             /* 링크 색상 */
    text-decoration: none;   /* 링크 밑줄 제거 */
}

.footer-links a:hover {
    color: white;            /* 링크 hover 시 색상 */
}

.business-info {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ddd;             /* 사업자 정보 색상 */
    white-space: pre-wrap;   /* 줄바꿈 처리 */
}

.business-info-link {
    cursor: pointer;
    text-decoration: underline;
    color: #bbb;
}

.business-info-link:hover {
    color: white;
}

.footer p {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #bbb;             /* 푸터 텍스트 색상 */
}
